# Building
build
cmake-build-debug
cmake-build-release

# Editors
.vscode
.idea

# Personal todo list
TODO.md

# Debugging
debug.cpp
openxr_handler_old.cpp

# Compiled shaders
*.spv
